<h2>Login</h2>
<form method = 'post' action='/login'>
	Nombre:<input type="text" name="nombre" id='nombre' size='30'/></br>
	Password:<input type="password" name="password" id='password' size='30'/>  </br>
	<input type ="submit" name='commit' value="Login">
</form>